.footer-link a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    line-height: 35px;
  }
  
  .gradient {
    background: rgb(104, 77, 250);
    background: linear-gradient(
      0deg,
      rgb(205, 202, 218) 0%,
      rgb(191, 177, 221) 100%
    );
  }
  .copyright {
    background-color: #684cfa;
  }
  
  .dropdown-menu.show {
    left: -126px;
    padding: 11px;
  }